# National Longitudinal Study of Adolescent to Adult Health (Add Health) Exploratory Data Analysis

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(color_codes=True)
%matplotlib inline

# 1. Load add health dataset

In [3]:
df = pd.read_table('../data/add_health/ICPSR_21600/DS0025/21600-0025-Data.tsv', sep='\t')
df.head()

,AID,PTNR_ID,PRGNO,H4PG1,H4PG2Y,H4PG3Y,H4PG5,H4PG6,H4PG7,H4PG8,H4PG9,H4PG10,H4PG11,H4PG12,H4PG13,H4PG14,H4PG15
0,57101310,1,1,6,9997,1996,4,1,0,1,1,7,97,1,16,2,0
1,57101310,1,2,6,9997,1997,1,7,0,1,1,7,97,1,6,2,0
2,57101310,1,3,5,9997,2002,2,1,0,1,1,7,97,1,8,2,0
3,57113943,2,1,5,9997,1998,1,7,0,0,7,7,5,1,97,97,7
4,57117542,1,1,3,9997,9998,97,7,0,1,7,1,97,7,97,97,7