# National Health and Nutrition Examination Survey (NHANES) Reproductuve Health Exploratory Data Analysis
Documentation about sleep disorder dataset: https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/RHQ_I.htm

The reproductive health section (variable name prefix RHQ) contains questions for females only. Questions on reproductive health include menstrual history, pregnancy history, hormone replacement therapy use, and other related reproductive conditions.

In [1]:
import xport

import numpy as np
import scipy as scp

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# sns.set(color_codes=True)
%matplotlib inline

# 1. Load NHANES reproductive health data

In [2]:
with open("../../../data/nhanes/2015_2016/questionaires/RHQ_I.XPT", 'rb') as f:
    df = xport.to_dataframe(f)

print(df.shape)
df.head()

(3471, 46)

,SEQN,RHQ010,RHQ020,RHQ031,RHD043,RHQ060,RHQ070,RHQ074,RHQ076,RHQ078,...,RHQ560U,RHQ570,RHQ576Q,RHQ576U,RHQ580,RHQ586Q,RHQ586U,RHQ596,RHQ602Q,RHQ602U
0,83735.0,12.0,NaN,2.0,7.0,48.0,NaN,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,83736.0,13.0,NaN,1.0,NaN,NaN,NaN,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83737.0,12.0,NaN,2.0,7.0,47.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,83742.0,13.0,NaN,1.0,NaN,NaN,NaN,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,83745.0,12.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Females between ages of 13-19 who have had babies
teenage_preg = df.loc[(df.RHD180 >= 13) & (df.RHD180 <= 19)]
teenage_preg.head()

,SEQN,RHQ010,RHQ020,RHQ031,RHD043,RHQ060,RHQ070,RHQ074,RHQ076,RHQ078,...,RHQ560U,RHQ570,RHQ576Q,RHQ576U,RHQ580,RHQ586Q,RHQ586U,RHQ596,RHQ602Q,RHQ602U
1,83736.0,13.0,NaN,1.0,NaN,NaN,NaN,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,83773.0,11.0,NaN,2.0,7.0,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,83845.0,11.0,NaN,2.0,3.0,24.0,NaN,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,83865.0,13.0,NaN,1.0,NaN,NaN,NaN,2.0,2.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,83869.0,11.0,NaN,2.0,3.0,23.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN